<%- include('../partials/header.ejs') %>
    <div class="container page-wrapper">
        <div class="page-inner">
            <div class="row">
                <% products.forEach(product=> { %>
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="/<%= products.productimage %>" alt="">
                            <div class="img-info">
                                <div class="info-inner">
                                    <span class="p-name">
                                        <%= products.name%>
                                    </span>
                                    <span class="p-company">
                                        <%= products.description%>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <span class="price">$ <%= products.price%></span>
                                <span class="add-to-cart">
                                    <span class="txt">Add in cart</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>

</body>

</html>